<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

     <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}todc-bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- TODC Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}todc-bootstrap/css/todc-bootstrap.min.css" rel="stylesheet">

     <!-- dashboard core CSS -->
    <link href="{{ STATIC_URL }}todc-bootstrap/css/dashboard.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}todc-bootstrap/js/jquery.js"></script>
    <link href="{{ STATIC_URL }}jQueryUI/jquery-ui.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}jQueryUI/jquery-ui.min.js"></script>

</head>

<body>
    {% load i18n %}
    {% load filters_extras %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{% trans "leaving request eForm sys"%}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{% trans "settings" %}</a></li>
            <li><a href="#">{% trans "help" %}</a></li>
            <li><a href="#">{% trans "quit" %}</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/requests/search/"  method="get">
            <input type="text" class="form-control" value="{{sval}}"
                   placeholder="{%trans 'search'%}..." name="val">
          </form>

        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/requests/">{% trans "all requests" %}</a></li>
            <li><a href="#">{% trans "report" %}</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block content %}
          <h2 class="sub-header">{% trans "all leaving requests" %}
              <br><br>
              <a class="btn btn-primary" href="/requests/create/" role="button">{% trans "create" %}</a>

          </h2>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                  <td>{% trans "no" %}</td>
                  <td>{% trans "request no" %}</td>
                  <td>{% trans "applier" %}</td>
                  <td>{% trans "date from" %}</td>
                  <td>{% trans "date to" %}</td>
                  <td>{% trans "state" %}</td>
                  <td>{% trans "operation" %}</td>
              </tr>
              </thead>
              <tbody>
              {% if request_form_list %}
                  {% for request in request_form_list %}
                  <tr>
                      <td><!--{{forloop.counter}}-->{{request.id}}</td>
                      <td>{{request.request_no}}</td>
                      <td>{{request.name}}</td>
                      <td>{{request.date_from}}</td>
                      <td>{{request.date_to}}</td>
                      <td>pending...</td>
                      <td>
                          <a type="button" href="/requests/{{request.id}}" class="btn btn-xs btn-info">{% trans "Info" %}</a>
                          <a type="button" href="/requests/delete/{{request.id}}" class="btn btn-xs btn-info">{% trans "Del" %}</a>
                          <a type="button" href="/requests/update/{{request.id}}" class="btn btn-xs btn-info">{% trans "Modify" %}</a>
                      </td>
                  </tr>
                  {% endfor %}
              {% else %}
                  <tr><td colspan="7">{% trans "No record found!" %}</td> </tr>
              {% endif %}
              </tbody>
            </table>
              <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-xs btn-success">&lt;</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-xs btn-success">&gt;</a>
                    {% endif %}
                </span>
              </div>
          </div>
        {% endblock %}
        </div>
      </div>
    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->



    <script src="{{ STATIC_URL }}todc-bootstrap/js/bootstrap.min.js"></script>



</body>

</html>