<html>
<head>
    <title>leave request</title>
    <style type="text/css">
        table,tr{border-left:solid 1px #112233;border-top:solid 1px #112233;}
        td{border-right:solid 1px #112233; border-bottom:solid 1px #112233;}
        .headerRow{font-weight:bold}
    </style>
</head>
<body>
    <h1>leave request</h1>

    <form action="" method="get">
        <table>
            <tr class="headerRow"><td>ID</td><td>请假单号</td><td>名字</td><td>类别</td><td>起止日期</td><td>操作</td></tr>
            {% for form in object_list %}
            <tr>
                <td>{{form.id}}</td>
                <td>{{form.request_no}}</td>
                <td>{{form.name}}</td>
                <td>{{form.leave_type}}</td>
                <td>{{form.date_from}} ~ {{form.date_to}}</td>
                <td>update delete</td>
            </tr>
            {% endfor %}
        </table>


        {% csrf_token %}

    </form>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

    <form action="" method="post">
        <input type="submit" value="New">
        {% csrf_token %}
    </form>

    <form id = "update_form" method="post">

    </form>
</body>
</html>